.card {
  background: white;
  padding: 30px 40px;
  border-radius: 24px;
  text-align: center;
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.2);
  max-width: 500px;

  min-height: 200px;
}

.h1 {
  color: #e63946;
  font-size: 42px;
  margin-bottom: 15px;

  font-family: "Emilys Candy", serif;
  font-style: normal;
  font-weight: 600;
}

.p {
  color: #444;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 25px;

  font-family: "Emilys Candy", serif;
  font-style: normal;
  font-weight: 400;
}

.cardButtons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cardButton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  background: white;
  color: black;
  border: 1px solid #ff4d6d;
  padding: 14px 28px;
  border-radius: 999px;
  font-size: 16px;
  user-select: none;
  transition: transform 0.15s ease;
}

.btnPrimary {
  background: #ff4d6d;
  color: white;
  border-color: #ff4d6d;
  cursor: pointer;
}

.btn:not(.btnPrimary) {
  cursor: default;
  pointer-events: none;
}

.footer {
  margin-top: 20px;
  font-size: 14px;
  color: #999;
}

.resultImg {
  width: 100%;
  border-radius: 16px;
  margin-top: 12px;
}
.paddingBtm {
  padding-bottom: 40px;
}