.layer {
    position: fixed;
    inset: 0;
    pointer-events: none;
    overflow: hidden;
    z-index: 9999;
}

.heart {
    position: absolute;
    bottom: -40px;

    animation-name: riseAndFade;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    color: #ffd5dd !important;
    opacity: 0.7;

    font-size: 45px;

    will-change: transform, opacity;
    filter: drop-shadow(0 6px 10px rgba(0, 0, 0, 0.18));
    filter: blur(0.2px) drop-shadow(0 6px 10px rgba(0,0,0,0.18));

}

@keyframes riseAndFade {
    0% {
        transform: translate3d(0, 0, 0) rotate(var(--rot));
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    75% {
        transform: translate3d(var(--drift), -75vh, 0) rotate(var(--rot));
        opacity: 0;
    }

    100% {
        transform: translate3d(0, -120vh, 0) rotate(var(--rot));
        opacity: 0;
    }
}
